.main-content{

	margin-top: 30px;
}

.traning{
	border: 1px solid black;
	
}

.teacher{
	border: 1px solid black;
	
}
.admission{
	margin-top: 35px;
	margin-left: 302px;
}

.admiss{
	margin-top: 5px;
	margin-left: 200px;
}	

.welcome{

margin-top: 80px;
border: 3px solid black;
border: dashed;
color: green;


}
.fees{

background: red;	
}

.teachers{
	background: red;
}
.login{
	background: red;
	border: 3px solid red;
}
